Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea/
/.idea/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
# Custom
/web/frontend/sandbox/volume/
/web/frontend/.angular/
/web/frontend/dist/
/web/frontend/node_modules/